#container{
    background-color: gray;
    box-shadow: 3px 3px 3px black;
    display: inline-block;
}

#first{
    width: 50px;
    height: 50px;
    background-color: green;
    display: inline-block;
    border: solid thin;
}

#second{
    height: 50px;
    width: 50px;
    background-color: orange;
    display: inline-block;
    border: solid thin;
}

input{
    width: 125px;
}


.button{

    background-color: rgb(11, 208, 11);
    border: solid green;
}

